.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:20px;
}

.box{
    background:skyblue;
    padding:40px;
    text-align:center;
    font-size:25px;
}

.containerss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
